.state-circle {
    -fx-fill: WHITE;
    -fx-stroke: #555555;
    -fx-stroke-width: 1.5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.0, 0, 1);

}

.state-circle.selected {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 157, 255, 0.3), 15, 0.5, 0, 0) !important;
}

.transition > * {
    -fx-stroke: #333333;
    -fx-stroke-width: 1.5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.0, 0, 1);
}

.transition-line {

}

.transition-drag-point {
    -fx-fill: WHITE;
    -fx-stroke: BLACK;
    -fx-opacity: 0;
}

.transition-drag-point:hover {
    -fx-cursor: hand;
    -fx-opacity: 1;
}


